* {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    background-color: transparent;
    background-size: 0%;
    border-color: transparent;
    border: solid 0% transparent;
    caret-color: transparent;
    color: transparent;
    cursor: none;
    display: none;
    font-size: 0em;
    font-variant-caps: all-small-caps;
    font-variant-numeric: oldstyle-nums;
    font-variant-position: sub;
    font-weight: 100;
    letter-spacing: 0em;
    lighting-color: transparent;
    line-height: 0%;
    margin: 0%;
    max-block-size: 0%;
    max-height: 0%;
    max-inline-size: 0%;
    max-inline-size: 0%;
    max-lines: 0;
    max-width: 0%;
    max-zoom: 0%;
    min-block-size: 0%;
    min-height: 0%;
    min-width: 0%;
    min-zoom: 0%;
    outline-color: transparent;
    overflow: hidden;
    padding: 0%;
    scroll-behavior: smooth;
    scroll-snap-align: none;
    scrollbar-arrow-color: transparent;
    scrollbar-base-color: transparent;
    scrollbar-color: transparent;
    scrollbar-darkshadow-color: transparent;
    scrollbar-face-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-shadow-color: transparent;
    scrollbar-track-color: transparent;
    scrollbar-width: 0em;
    stop-color: transparent;
    text-emphasis-color: transparent;
    user-select: none;
    user-zoom: none;
    visibility: hidden;
    word-spacing: 0%;
}
